.menu 
{
    width: 50px;
    height: 50px;

}
  
.hamburguer 
{
    position: relative;
    display: block;
    background: rgb(54, 38, 201);
    width: 30px;
    height: 2px;
    top: 20px;
    left: 10px;
    transition: 0.5s ease-in-out;
}
  
.hamburguer:before,
.hamburguer:after 
{
    background: rgb(54, 38, 201);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}
  
.hamburguer:before 
{
    top: -10px;
}
  
.hamburguer:after 
{
    bottom: -10px;
}
  
input 
{
    display: none;
}

input:checked ~ .conteiner-iten-menu
{
    display: flex;
}

input:checked ~ label .hamburguer 
{
    transform: rotate(45deg);
}
  
input:checked ~ label .hamburguer:before 
{
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .hamburguer:after 
{
    transform: rotate(90deg);
    bottom: 0;
}

.menu:hover
{
    cursor: pointer;
}